.flex_center{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
}

.card{

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: transform 0.2s;
    padding: 10px;
}

.widthfull{
    width: 100vw;
}